@import "./../mixin";

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px;
  @include desktop {
    gap: 40px;
    padding: 40px 0;
  }
  &_title {
    @include h1;
  }
  &_description {
    @include p;
  }
}
