@import "./../mixin";

.heroProductPage {
  padding: 20px;
  @include desktop {
    padding: 40px 0;
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    @include desktop {
      gap: 30px;
    }
  }
  &_title {
    @include h1;
  }
  &_description {
    @include p;
  }
}
